/*Banner*/
.faq-banner{
    background: url('../../assets/images/faq-banner-resize.png') no-repeat center center;
    width: 100%;
    background-size: cover;
    min-height: 400px;
}

.faq-tab{
    position: relative;
    margin-top:-75px;
}
.faq-tab .nav-tabs .nav-link {
	color: #ffffff;
	background-color: rgba(8,24,44,0.5);
	border-radius: 0;
	border: none;
	margin: 0 1px;
	padding: 25px 35px;
	font-size: 17px;
}
.faq-tab .nav-tabs .nav-link:hover{color: #ffffff;}
.faq-tab .nav-tabs .nav-link.active{
    background-color: #f2f2f2;
    color:#081423;
}

/*accordian-list*/
.accordian-list .card{background-color: transparent; border-radius: 0; border:none;}
.accordian-list .card .card-header{background-color: transparent; border-radius: 0; 
    border:none; border-top:1px solid #d9d9d9;padding:20px 20px 20px 0; position: relative;}
.accordian-list .card .card-header .down-arrow{
    position: absolute;
    content: '';
    right: 0;
    top: 22px;
    width: 20px;
}
.accordian-list .card .card-body {
	padding: 0 0 15px 0;
	color: #656563;
	font-size: 14px;
}