/*Banner*/
.notfound-banner{
    background: url('../../assets/images/faq-banner.png') no-repeat center center;
    width: 100%;
    background-size: cover;
    min-height: 300px;
}

.num404,.error404{display:inline-block; vertical-align: top; padding:0 50px;}
.error404{border-left:1px solid #d4d4d5;}
.num404 img{display:block;margin:auto;}
.error404 h3{color: #0a4bab; font-size: 46px; font-weight: normal;font-family: 'gilroylight';}
.error404 p{color: #929292; font-size: 18px; margin: 15px 0;}



/*Responsive by Height*/
@media (max-height:1080px) {
    .error-box-show{
        min-height: 590px;
    }
}

@media (max-height:900px) {
    .error-box-show {
        min-height: 540px;
    }
}

@media (max-height:768px) {
    .error-box-show {
        min-height: 412px;
    }
}

@media (max-height:640px) {
    .error-box-show {
        min-height: auto;
    }
}

@media (max-width:990px) {
    .num404 img{
        width: 255px;
    }
}

@media (max-width:979px) {
    .num404 img{
        width: 240px;
    }
    .num404, .error404 {
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;
    }
    .error404 h3 {
        font-size: 30px;
    }
    .error404 p {
        font-size: 14px;
        margin: 10px 0;
    }
}