.LogoBox{
    position: relative;
}
.LogoBox > a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
	margin: auto;
	height: 153px;
	z-index: 5;
}
.LogoBox > a > img{
	width: 223px;
}
.LogoBox > img{
    width: 354px;
}

/*Responsive*/
@media (max-width:1600px){
	.LogoBox > img {
		width: 250px;
	}
	.LogoBox > a > img{
		width: 170px;
	}
	.LogoBox > a {
		height: 90px;
	}
}

@media (max-width:1400px){
	.LogoBox > img {
		width: 250px;
	}
	.LogoBox > a > img{
		width: 170px;
	}
	.LogoBox > a {
		height: 90px;
	}
}