.thanku-panel{background:url('../../assets/images/thanku-bg-resize.png') no-repeat center center;background-size: cover;height: 100vh;width:100%;display: table;text-align: center;position: relative;}
.thanku-group{display: table-cell;vertical-align: middle;}
.thanku-modal{background-color: #ffffff;}
.thanku-header{position: absolute;left: 0;right: 0;margin: auto;}
.thanku-modal .heading{font-size: 40px;}
.thanku-modal .para{font-size:16px; margin: 10px 0; color:#6a6a68;}
.thanku-modal .tag{font-size:18px; margin-bottom: 15px;}