.login-side{
    background: url('../../assets/images/login-bg.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: table;
    padding: 15px;
    position: relative;
}
.login-tags{
    display: table-cell;
    vertical-align: middle;
}
.login-tags h2{
    font-size: 26px;
    margin-bottom: 10px;
}
.login-tags .tag-line{
    font-size: 21px;
    line-height: 26px;
}
.login-bottom{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

/*login-box*/
.login-box{width: 100%;height: 100vh;display: table; position: relative;}
.login-form{display: table-cell; vertical-align: middle;}
.tags-line{color:#636c72; font-size: 16px;}
.click-link{color:#0a4cab;}
.home-copy-right{position: absolute; left: 0; right: 0; margin: auto; bottom: 10px;}

/*login-header*/
.login-header{position: absolute; left: 0; right:0;}
.login-header .LogoBox > a > img{width: 120px;}
.login-header .LogoBox > img{width: 175px;}