/*dashboard-part*/
.dashboard-part{
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
}
.dashboard-search-part{
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    height: 112px;
}
.dashboard-main {
    position: absolute;
    top: 112px;
    left: 0;
    width: 100%;
    bottom: 0;
}
.dashboard-main .dash-left-box{
    width:100%;
    float:left;
    transition: all .6s ease-in-out;
}
.dashboard-main .dash-right-box{
    width:30%;
    float:right;
    display: none;
    transition: all .6s ease-in-out;
}
.dashboard-main .dash-left-box .left-group{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    bottom: 0;
    transition: all .6s ease-in-out;
}
.dashboard-main .dash-left-box .left-group .left-group-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
.dashboard-main .dash-right-box .right-group{
    position: absolute;
    width: 30%;
    right: 0%;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    border-left: 1px solid #eaeaec;
}
.dashboard-main .dash-right-box .right-group .right-group-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

/*dashboard-main.active*/
.dashboard-main.active .dash-left-box{
    width:70%; transition: all .6s ease-in-out;
}
.dashboard-main.active .dash-left-box .left-group{
    width:70%; transition: all .6s ease-in-out;
}
.dashboard-main.active .dash-right-box{
    display: block; transition: all .6s ease-in-out;
}

/*(Search part) For inner page*/
.dashboard-search-part.inner-sub-page {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    height: 56px;
}

/*(Dashboard) For inner page*/
.dashboard-main.inner-sub-page{
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    bottom: 0;
}
.dashboard-main.inner-sub-page .dash-left-box {
    width: 70%;
}
.dashboard-main.inner-sub-page .dash-left-box .left-group {
    width: 70%;
}
.dashboard-main.inner-sub-page .dash-right-box{
    width: 30%; display: block;
}
.dashboard-main.inner-sub-page .dash-right-box .right-group{
    width: 30%;
}




.imports-button .btn-info, .imports-button .btn-info:active, .imports-button .btn-info.active{color: #292b2c;background-color: transparent;border-color: #0a4bab;}
.search-bar{background-color: #ffffff;}
.search-bar .search-head{color:#0a4bab;font-size: 22px;}
.search-bar .filter-icon{width:20px;}
.search-bar .btn-secondary.filter-btn{color: #fff;background-color: #e9ecef;border-color: rgba(0, 0, 0, 0.15);}
.clear-link{font-size:14px; color:#999fa4; cursor:pointer;}
.grade-bar{border-bottom: 1px solid #dddddf;border-top: 1px solid #dddddf;}
.grade-bar .grade-box {
    max-width:950px; margin: auto;
}
.grade-bar .grade-box > div {
    width: 100%;
}


/*activity-bg*/
.activity-bg{
    background: url('../../assets/images/no-activity.png') no-repeat center center;
    background-size:cover;
    width: 100%;
}

/*teacher-box*/
.teacher-box {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 301px
}
.teacher-group-box {
    padding-left: 75px;
}
.teacher-picture {
    width: 60px;
    height: 60px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../../assets/images/teacher-1.png') no-repeat center center;
    background-size: cover;
}
/* .teacher-picture > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 3px;
    margin: auto;
} */

.teacher-group-box .te-head {
    color: #292b2c;
    font-weight: 800;
    font-size: 16px;
    position: relative;
}
.teacher-group-box .te-gen{
    color: #292b2c;
    font-size: 16px;
    position: relative;
}
.teacher-group-box .te-sub{
    font-size: 14px;
    color: #0a4cab;
    position: relative;
}
.teacher-group-box .te-code{
    font-size: 14px;
    color: #6d6d6d;
    position: relative;
}
.mesg-btn{
    font-size:14px;
    color:#6d6d6d;
    text-decoration: none !important;
}
.mesg-btn img{
    width:16px;
}
.mesg-btn:hover{
    color:#6d6d6d;
    background-color:#f3f3f3;
    border-radius: 3px;
}
.view-btn{
    color:#0a4ba9;
    font-size:14px;
    text-decoration: none !important;
}
.view-btn:hover {
    background-color: #0a4cab;
    border-radius: 3px;
    color: #ffffff;
}
.box-settings {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 5px;
}
.box-settings img{width:20px;}
.teach-head{font-size: 19px; text-align: center;}

.teacher-forms{
    border-bottom:1px solid #eeeeee;
}

.teachers-row > div {
    margin:5px;
}

/*no-loaded*/
.no-loaded .teacher-picture::after {
    position: absolute;
    content: '';
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.no-loaded .teacher-group-box .te-head::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e4e4e4;
    width: 60%;
    height: 19px;
}
.no-loaded .teacher-group-box .te-gen::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e4e4e4;
    width: 75%;
    height: 18px;
}
.no-loaded .teacher-group-box .te-sub::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e4e4e4;
    width: 85%;
    height: 18px;
}
.no-loaded .teacher-group-box .te-code::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e4e4e4;
    width: 100%;
    height: 18px;
}

/*Responsive Code*/
@media(max-width:1911px){
    .teacher-box {
        width: 310px;
    }
}

@media(max-width:1875px){
    .teacher-box {
        width: 300px;
    }
}

@media(max-width:1820px){
    .teacher-box {
        width: 297px;
    }
}

@media(max-width:1800px){
    .teacher-box {
        width: 390px;
    }
}

@media(max-width:1760px){
    .teacher-box {
        width: 284px;
    }
}

@media(max-width:1730px){
    .teacher-box {
        width: 260px;
    }
}

@media(max-width:1600px){
    .teachers-row > div {
        margin: 0 5px 10px;
        width: 32%;
    }
    .teacher-box {
        width: 100%;
    }
}

@media(max-width:1399px){
    .teacher-picture {
        width: 50px;
        height: 50px;
    }
    .teacher-picture > img {
        max-width: 48px;
    }
    .teacher-group-box {
        padding-left: 60px;
    }
    .teach-head {
        font-size: 15px;
    }
}

@media(max-width:1169px){
    .dashboard-main .dash-left-box {
        width: 100%;
        float: none;
    }
    .dashboard-main .dash-left-box .left-group{
        width:100%;
    }
    .dashboard-main.active .dash-left-box{
        width:100%; transition: all .6s ease-in-out;
    }
    .dashboard-main.active .dash-left-box .left-group{
        width:100%; transition: all .6s ease-in-out;
    }
    .dashboard-main.active .dash-right-box{
        display: block; transition: all .6s ease-in-out;
    }
    .dashboard-main .dash-right-box{
        transition: all .6s ease-in-out;
    }
    .dashboard-main .dash-right-box .right-group{
        transition: all .6s ease-in-out;
    }
    .dashboard-main.active .dash-right-box{
        width: 100%; transition: all .6s ease-in-out;
    }
    .dashboard-main.active .dash-right-box .right-group{
        width: 100%; transition: all .6s ease-in-out;
    }
}

@media(max-width:979px){
    .teach-head {
        font-size: 12px;
    }
    .teachers-row > div {
        margin: 5px;
        width: 48%;
    }
}


