.transition{
	transition:all 0.5s ease; 
	-ms-transition:all 0.5s ease; 
	-webkit-transition:all 0.5s ease; 
	-o-transition:all 0.5s ease; 
	-moz-transition:all 0.5s ease;
}
.school-dashboard{
	height: 100vh;
	background: url('../../assets/images/dashboard-bg-thumb.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	position: relative;
}
.school-dashboard .activity-btn {
	position: absolute;
	right: 20px;
	top: 70px;
	background-color: rgba(255,255,255,0.2);
	border: none;
	color: #ffffff;
	font-size: 17px;
	padding: 10px 15px;
	font-weight: 800;
	border-radius: 2px;
	z-index: 1;
    cursor: pointer;
    outline: none;
}

/*dashboard-header.schooladmin*/
.dashboard-header.schooladmin .LogoBox{
	position: absolute;
	left: 0;
	right: 0; 
	max-width:300px; 
	margin: auto;
}
.dashboard-header.schooladmin{
	background-color: #0a4ba9;
	min-height: 50px;
	border-bottom: 1px solid #0d3c7f;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.dashboard-header.schooladmin .LogoBox > img {
    width: 300px;
}
.dashboard-header.schooladmin .LogoBox > a {
	height: 100px;
	z-index: 5;
}
.dashboard-header.schooladmin .LogoBox > a > img {
    width: 200px;
}

/*admin-box*/
.admin-box{
	background-color: rgba(255,255,255,0.1);
	border-radius: 3px;
}
.dash-box a{
	display:block;
	text-align:center;
	cursor:pointer;
	text-decoration: none;
}
.dash-box a .dash-icon{
	position: relative;
}
.dash-box a .dash-icon img{
	margin: auto;
	display: block;
}
.dash-box a span{
	color:#ffffff;
	font-size: 14px;
	cursor: pointer;
	font-weight:800;
}
.dash-box a .dash-icon > img:hover{
	transform: scale(1.1);
}

/*activity-box*/
.activity-box{
	position: fixed;
	width: 467px;
	background-color: #e3e3e9;
	top: 50px;
	right: -100%;
	bottom: 0;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}
.activity-box.active{
	right: 0;
	transition: all 0.5s ease-in-out;
}
.activity-head {
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	color: #292b2c;
	width: 100%;
	border-bottom: 1px solid #c9c9ce;
	padding: 25px 0;
	height: 81px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
}
.activity-head .cross-out {
    display: block;
    float: right;
    padding: 2px 15px;
    cursor: pointer;
}
.activity-head .cross-out img{width:18px;}
.activity-listing-main{
	position: absolute;
	top: 81px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.activity-listing-main ul li{
	display: block;
}
.activity-listing-main .activity-process{
	padding: 20px 20px 20px 65px;
	position: relative;
	border-bottom: 1px solid #c9c9ce;
}
.activity-listing-main .activity-process .activity-person-img-box{
	width: 36px;
	height: 36px;
	border-radius: 100%;
	box-shadow: 0 0 2px 2px #b7b7ba;
	background: url('../../assets/images/act-img-2.png') no-repeat center center; background-size: cover;
	position: absolute;
	left: 20px;
	top: 20px;
}
.activity-listing-main .activity-process .activity-person-box h2{
	font-size:16px;
	color: #292b2c;
	margin-bottom: 5px;
}
.activity-listing-main .activity-process .activity-person-box h3{
	font-size:14px;
	color: #6d6d6d;
	margin-bottom: 10px;
}
.activity-listing-main .activity-process .activity-person-box .marked-completed {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #6a6a68;
	font-size: 16px;
	box-shadow: 4px 4px 4px -2px #dfdfe4;
}
.activity-listing-main .activity-process .activity-person-box .marked-completed span{
	color: #0a4ba9;
}
.activity-listing-main .activity-process .activity-person-box .write-comment a{
	display: block;
	font-size: 13px;
	color: #0a4ba9 !important;
	text-decoration: underline !important;
	text-align: right;
	cursor: pointer;
	padding: 0;
}


/*Responsive*/
@media (max-width:1600px){
    .dashboard-header.schooladmin .LogoBox > img {width: 200px;}
    .dashboard-header.schooladmin .LogoBox > a{height: 85px;}
    .dashboard-header.schooladmin .LogoBox > a > img {width: 140px;}
}