.login-side{background: url('../../assets/images/login-bg.png');background-size: cover;width: 100%;height: 100vh;display: table;padding: 15px;position: relative;}
.login-tags{display: table-cell;vertical-align: middle;}
.login-tags h2{font-size: 26px;margin-bottom: 10px;}
.login-tags .tag-line{font-size: 21px;line-height: 26px;}
.login-bottom{position: absolute;left: 15px;bottom: 15px;}

/*share-links*/
.login-side .login-bottom .share-links ul li{display: inline-block;}
.login-side .login-bottom .share-links ul li a {background-color: #2e2e2b;display: block;height: 25px;width: 25px;margin: 0 5px;text-align: center; border-radius: 3px;}
.login-side .login-bottom .share-links ul li a:hover{background-color:#0a4ba8;}
.login-side .login-bottom .share-links ul li a img{width:15px;}

.login-side .login-bottom .footer-links .btn{color:#ffffff !important;padding:15px 15px 0 0 !important;}
.login-side .login-bottom .footer-links .btn:hover{color:#0a4ba8 !important;}


/*login-box*/
.login-box{width: 100%;height: 100vh;display: table; position: relative;}
.login-form{display: table-cell; vertical-align: middle;}
.tags-line{color:#636c72; font-size: 16px;}
.click-link{color:#0a4cab;}
.home-copy-right{position: absolute; left: 0; right: 0; margin: auto; bottom: 10px;}

/*login-header*/
.login-header{position: absolute; left: 0; right:0;}
.login-header .LogoBox > a > img{width: 120px;}
.login-header .LogoBox > img{width: 175px;}