/*dashboard-header*/
.dashboard-header {
    background-color: #0a4ba9;
    min-height: 50px;
    border-bottom: 1px solid #0d3c7f;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 51px;
}
.dashboard-header .navbar .navbar-brand img {
    width: 20px;
    margin-right: 10px;
}
.dashboard-header .navbar{
    padding: 0 10px;
    min-height: 50px;
}
.dashboard-header .navbar .navbar-brand {
	padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #07387f;
}
.dashboard-header .navbar .school-name {
	color: #ffffff;
	font-size: 20px; 
	font-weight: 600;
	min-width: 200px;
	padding-top: 4px;
}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.nav-item a{color:#ffffff; font-size: 16px; padding-left: 10px; padding-right: 10px;}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.nav-item a img{width: 20px;}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.nav-item a .notification-image {
    width: 20px;
    display: inline-block;
    position: relative;
}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.nav-item a .notification-image .notification-number {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ed1c24;
	border-radius: 100%;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	right: -12px;
	top: -4px;
}

.dashboard-header .navbar .navbar-collapse .navbar-nav li.dropdown a {
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 800;
    cursor: pointer;
    padding-left: 10px; padding-right: 10px;
}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.dropdown a img{width: 20px;}
.dashboard-header .navbar .navbar-collapse .navbar-nav li.dropdown a .user-image{width: 20px;display: inline-block;margin-right: 8px;}

/*school-tabs*/
.school-tabs{padding-bottom: 40px;padding-top: 51px;}
.school-tabs .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:#ffffff;
    font-size: 15px;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
}
.school-tabs .nav-tabs .nav-link.active{
    background-color: transparent;
    font-weight: 600;
}
.school-tabs .nav-tabs .nav-link::after {
	position: absolute;
	content: '';
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ffffff;
	border-left: 8px solid transparent;
	left: 0;
	right: 0;
	width: 10px;
	margin: auto;
    bottom: 0;
    display: none;
}
.school-tabs .nav-tabs .nav-link.active::after{
    display: block;
}
.school-tabs .tab-content{
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-top: none;
}

/*tabs-heading*/
.tabs-heading {
    font-size: 16px;
    margin-bottom: 8px;
}

.camera-image{
    width: 150px !important;
    height: 150px; border: 1px solid #d9d9d9;
    position: relative; border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
}
.camera-icon {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	width: 148px;
	height: 148px;
	bottom: 0;
	text-align: center;
}
.camera-icon img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 150px;
}
.camera-upload-content{display: inline-block;color:#292b2c; padding-left: 15px;}
.camera-upload-content h3{ font-size: 18px;}
.camera-upload-content span{ font-size: 14px;}
.camera-upload-content .invalidText{display:block;}

.delete-button-image{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #0a4cab;
    left: 34px;
    bottom: -15px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #0a4cab; cursor: pointer;
}
.delete-button-image img{width:18px;}

.edit-button-image{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #ffffff;
    right: 34px;
    bottom: -15px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #0a4cab;
    line-height: 32px; cursor: pointer;
}
.edit-button-image img{width:18px;}
#upload-photo {
	position: absolute;
	height: 35px;
	width: 35px;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}

.both-button .btn-info,
.both-button .btn-info:active, 
.both-button .btn-info.active 
{color: #0a4cab;background-color: transparent;border-color: #0a4cab;}

.both-button .btn-info:focus, 
.both-button .btn-info.focus{-webkit-box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);}

.input-group-addon img{width: 8px;}
.group-box{border-bottom:1px solid #dfdfdf; margin-bottom: 20px; padding-bottom: 20px;}
.remove-link{position: absolute; right:0; bottom: -3px; color:#0a4cab; font-size: 12px; text-decoration: underline; padding: 0;}
.addMore-link{color:#0a4cab; font-size: 14px;text-decoration: underline; padding: 0;}
.remove-link-onbox{position: absolute; right:10px; top: 10px; color:#0a4cab; font-size: 12px; text-decoration: underline; padding: 0;}
.delete-link{position: absolute; right:5px; top:5px; color:#0a4cab; font-size: 13px; text-decoration: underline; padding: 0;display: none;}
.code-box:hover .delete-link{display: block;}

/*teacher-tabs*/
.teacher-tabs .nav-tabs {
    border-bottom:  2px solid #e1e1e6 !important;
    border: 1px solid #e1e1e6;
    border-radius: 3px;
}
.teacher-tabs .nav-tabs .nav-item{
    text-align: center;
    width:50%;
}
.teacher-tabs .nav-tabs .nav-item .nav-link h2{
    color: #6d767b;
    font-size: 16px;
    margin-bottom: 3px;
}
.teacher-tabs .nav-tabs .nav-item .nav-link span{
    color:#636c72;
    font-size: 14px;
}
.teacher-tabs .nav-tabs .nav-link{
    background-color: #f7f7f9;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.teacher-tabs .nav-tabs .nav-link.active{
    font-weight: normal;
    background-color: #e9e9e9;
    border-bottom:3px solid #0a4ba9;
}
.teacher-tabs .nav-tabs .nav-link.active h2{
    color:#0a4ba9;
}
.teacher-tabs .nav-tabs .nav-link::after {
    content: none;
}
.teacher-tabs .tab-content{
    background-color: #ffffff;
    border:none;
}

/*teacher-details*/
.teacher-details{border:1px solid #d9d9d9; border-radius: 3px;}
.teacher-details .te-head{color:#0a4cab; font-size: 14px;}
.teacher-details .te-content{color:#6d6d6d; font-size: 14px;}
.teacher-details .te-img{width:60px;height: 60px;border:1px solid #e4e4e4; border-radius: 3px;position: relative}
.teacher-details .te-img img{position:absolute; left: 0; top: 0; right: 0; bottom: 0;width:100%; height: 100%; margin: auto;
    border-radius: 3px;}
.teacher-details .te-name{font-weight:600; font-size:16px; color:#292b2c;}
.teacher-details .te-gender{font-size:16px; color:#292b2c;}
.teacher-details .border-right{position: relative;}
.teacher-details .border-right::after{position: absolute;content: '';height: 100%;width: 1px;background-color: #d9d9d9;top: 0;right: 35px;}


.bulk-upload .pdf-icon{width:18px;}
.csv-tags{font-size: 14px; font-style: italic; color:#6a6a68;}
.questionMark{width:18px;}
.width-200{width:300px; text-align: left;}

.download-CSV .btn-info, .download-CSV .btn-info:active, .download-CSV .btn-info.active {
    color: #0a4cab;
    background-color: transparent;
    border-color: #0a4cab;
}

.downloadImg{position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
    width: 37px;
    text-align: center;
    cursor: pointer;border-left: 1px solid #0a4bab;}
.downloadImg img{width:18px; padding-top: 7px;}
.uploadImg{position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
    width: 37px;
    text-align: center;
    cursor: pointer;border-left: 1px solid #0a4ba8;}
.uploadImg img{width:18px; padding-top: 7px;}

.async-validating{background: url('../../assets/images/Spinner.gif') no-repeat 98% center;}



/*Responsive Code*/
@media(max-width:1600px){
    .camera-upload-content {
        padding-left: 15px;
        padding-top: 25px;
    }
}

@media(max-width:1399px){
    .camera-upload-content span {
        font-size: 11px;
    }
    .camera-upload-content h3 {
        font-size: 11px;
    }
}

@media(max-width:1023px){
    .camera-upload-content {
        display: inline-block;
        color: #292b2c;
        padding-left: 15px;
        padding-top: 25px;
    }
    .camera-upload-content span {
        font-size: 13px;
    }
    .camera-upload-content h3 {
        font-size: 15px;
    }
}



